body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a0c4ff, #ffafcc);
}

.card {
    background: #fff ;
    width: 350px;
    border-radius: 16px;
    border: 5px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 7px;
}

.card img {
    width: 150px;
    height: 110px;
    border-radius: 0%;
    margin-bottom: 0px;
}

.card h2 {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

.card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.bold-text {
    font-weight: 700;
}

.button-container {
    margin-top: 20px;
}

.button-container a {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align text */
    text-decoration: none;
    font-size: 16px;
    color: #333;
    background: #f9f9f9 opacity=100%;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 12px;
    border: 5px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

.button-container a:hover {
    background-color: #f0f0f0;
}

.button-container a span {
    display: inline-flex;
    align-items: center;
}

.button-container a span.icon {
    margin-right: 10px;
}

.button-container a span.icon img {
    width: 20px;
    height: 20px;
}

.inquiry-form {
    margin-top: 20px;
    text-align: left;
    justify-content: center;
}

.inquiry-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.inquiry-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.inquiry-form input[type="text"],
.inquiry-form input[type="email"],
.inquiry-form textarea {
    width: 330px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.inquiry-form input[type="submit"] {
    background: #000080;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    justify-content: center;
}

.inquiry-form input[type="submit"]:hover {
    background: #6464f4;
    color: #f0f0f0;
}

.submit-button {
    justify-content: center;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 18px;
}

.services {
    display: flex;
    justify-content: center;
    width: 345px;
    height: 50px;
    border-radius: 4px;
}
