body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom, #a0c4ff, #ffafcc);
}
h1 {
    text-align: center;
    color: #000080;
}
h2 {
    text-align: center;
    color: #333;
    font-size: 42px;
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services-container ul {
    list-style-type: disc;
    padding: 0 20px;
    width: 45%; /* Adjusted width to fit side by side */
}
.services-container li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.center-align {
    text-align: center;
}
.back-button {
    text-align: center;
    margin-top: 20px;
}
.back-button a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    background: #f9f9f9;
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}
.back-button a:hover {
    background-color: #f0f0f0;
}
