{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <title>{% block title %}RR Digital Cards{% endblock %}</title>
</head>
<body>
    <header>
        {% include 'components/header.html' %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include 'components/footer.html' %}
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
